body {
    font-family: Inter !important;
    background-image: url("Boardwalk.png");
    overflow: hidden;
  }
  @font-face {
      font-family: Minecraft;
      src: url(Minecraftia.ttf);
  }
  footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3eb049;
    height: 40px;
    margin: 0;
    padding: 0;
  }
  .window {
      height: 0px;
      width: 0px;
      display: none;
  }
  .header {
     width: 600px;
     height: 30px;
     background-color: white;
     cursor: move;
  }
  .content {
     width: 600px;
     margin: 0;
     padding: 0;
     height: 450px;
  }
  .headertext {
      color: BLACK;
      background-color: white;
      border: black solid 0px;
      font-family: Inter;
      border-radius: 0px;
      font-size: 20px;
      padding-top: 5px;
      border-radius: 5px 0px 0px 0px;
      height: 30px;
  }
  .closebutton {
      float: right;
      background-color: white;
      height: 100%;
      width: 50px;
      border: black solid 0px;
      font-size: 20px;
  }
  .closebutton:hover{
      background-color: red;
      border: black solid 0px;
  
  }
  .menubutton {
      background-color: #3eb049;
      border: black solid 0px;
      color: black;
      float: left;
  }
  li {
      float: left;
      display: block;
  }
  *{
      margin: 0;
      padding: 0;
  }
  
  nav{
  display: inline-block;
  }
  #span {
      font-size: 75px;
      color: black;
      text-align: center;
  }
  .sidebar{
      height:37.5%;
  }
  .search {
      margin-top: auto;
      width: 98%;
      background-color: #e2d3ff;
      padding: 3px;
  }
  .search2 {
      width: 98%;
      background-color: #4dc0ed;
      padding: 3px;
  }
  .sidebar2 {
      height: 55%;
      width:306px;
      position:fixed!important;
      z-index:1;
      overflow:auto;
      padding: 2.5px;
      border: black solid 2px;
      background-color: #e2d3ff;
      display: flex;
      flex-direction: column;
  }
  .menubutton2 {
      background-color: #e2d3ff;
      border: black solid 0px;
      font-family: Inter;
      color: black;
      float: left;
      text-align: left;
  }
  input[type='file'] {
   font-size: 0; 
  }
  ::file-selector-button { font-size: initial;}